<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="navbar-brand"> Facebook </a> |
        
        <%= link_to "All Messages", messages_path%>
      
      <% if user_signed_in? %>
        <span class="nav pull-right"><%= link_to current_user.name, edit_user_registration_path %></span>
        <span class="more-padding-on-right"><%= link_to "Log out... ", destroy_user_session_path, method: :delete %></span>
         
        <% else %>
          <%= link_to "Join", new_user_registration_path %>
          <%= link_to "Sign In", new_user_session_path %>

        <% end %>
      
      </div>
    </div>
  </div>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
